<!-- <p>hello-world works!</p> -->
<!-- string interpolation which will fetch and bind -->
<!-- string interpolation or property data binding -->
<!-- <h1 [innerText]="title">{{firstName}}</h1> -->

<!-- Event Binding view to concept -->

<!-- <input type="text" [(ngModel)]="name"> -->
<!-- this will also react because of 2 way data binding  -->
<!-- <h1>{{name}}</h1> -->
<!-- we can add property, expression, function, variable -->

<!-- <h1>{{getTitle()}}</h1> -->
<!-- arithmetic expression -->
<!-- <p>100 x 80 = {{100*80}}</p> -->
<!-- we can pass argument as well  -->
<!-- <p>Largest number : {{getMax(100,200)}}</p> -->

<!-- it is a property string interpolation -->
<!-- <p style.color="{{'red'}}">This color is red</p> -->

<!-- property binding  -->
<!-- <h1 [innerText]="title"></h1>
<button (attr.disabled)="isDisabled">Click me</button> -->

<!-- Event Binding -->
<!-- 
<p>Likes : {{clickCount}}</p>
<h1>Copied Likes : {{clickCount1}}</h1>
<button (click) ="onSubmit(clickCount)">Like</button> -->

<!-- <input (input)="handleInput($event)"> -->


<!-- <p (input)="value1=$any($event.target).value">Without using Handling Function : {{value1}}</p> -->
<!-- <p>{{value}}</p> -->
<!-- onClick , onchange, onkeypress, onkeydown -->
 <!-- for loop in c# -->
<!-- <h1>{{title}}</h1>
<ul>
   
    <li *ngFor="let movie of movies">
        {{movie.title}} - {{movie.director}}
    </li>
</ul> -->